<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nolimits.mapper.WelcomePageMapper" >
    <resultMap id="welcome_resultMap" type="com.nolimits.bean.WelcomePage">
        <id column="Page_Id" property="pageId" jdbcType="INTEGER"/>
        <result column="Sign" property="sign" jdbcType="VARCHAR"/>
        <result column="Background_Url" jdbcType="VARCHAR"/>
        <result column="Page_Time_Stamp" jdbcType="VARCHAR"/>
    </resultMap>
    
</mapper>